div.new-cat {
    margin-top: 30px;
    position: relative;
}

span.ajax-text {
    display: none;
}

span.loader {
    display: none;
}

.ajaxmsg {
    background: green;
    color: white;
    padding: 10px;
    display: none;
    position: absolute;
    bottom: 0;
}

.ajaxcart {
    position: relative;
    top: 5px;
}

.ib {
    display: inline-block !important;
}